/* src/main/resources/static/css/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #343a40;
    margin: 20px auto;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 18px;
    text-align: left;
}

table thead tr {
    background-color: #343a40;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
    position: relative;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #343a40;
}

.back-button, button {
    padding: 10px 20px;
    background-color: #343a40;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.back-button:hover, button:hover {
    background-color: #343a40;
}

.delete-button {
    padding: 10px 20px;
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    position: absolute;
    right: 0;
}


nav {
            background-color: #343a40;
            color: white; /* White text */
            padding: 15px; /* Spacing inside the nav */
        }
        nav a {
            color: white; /* White text for links */
            padding: 14px 20px; /* Spacing for links */
            text-decoration: none; /* Removing underline from links */
            display: inline-block; /* Aligning links in a row */
        }
        nav a:hover {
            background-color: #787878 /* Darker green on hover */
        }

