<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Teams</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:include="header"></div>
<h1>Klasyfikacja strzelców</h1>

<h1 Klasyfikacja strzelców></h1>
<table>
    <thead>
    <tr>
        <th></th>
        <th>imię i nazwisko</th>
        <th>klub</th>
        <th>Liczba bramek</th>
    </tr>

    <tbody>
    <tr th:each="scorers, iterStat : ${scorers}">
        <td th:text="${iterStat.count}"></td>
        <td th:text="${scorers.playerName}"></td>
        <td th:text="${scorers.team}"></td>
        <td th:text="${scorers.goals}"></td>
    </tr>
    </tbody>
</table>



</body>
</html>