<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Teams</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:include="header"></div>
<h1>Tabela</h1>
<table>
    <thead>
    <tr>
        <th>miejsce</th>
        <th>drużyna</th>
        <th>rozegrane mecze</th>
        <th>punkty</th>
        <th>bilans</th>
        <th>wygrane</th>
        <th>wygrane po k</th>
        <th>przegrane</th>
        <th>przegrane po k</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="standings, iterStat : ${standings}">
        <td th:text="${iterStat.count}"></td>
        <td th:text="${standings.team.name}"></td>
        <td th:text="${standings.matchesPlayed}"></td>
        <td th:text="${standings.points}"></td>
        <td th:text="${standings.goalsScored} + ':' + ${standings.goalsConceded}"></td>
        <td th:text="${standings.wins}"></td>
        <td th:text="${standings.winsAfterPenalty}"></td>
        <td th:text="${standings.loses}"></td>
        <td th:text="${standings.losesAfterPenalty}"></td>
    </tr>
    </tbody>
</table>
<style>
    .popup {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }
    .popup-content {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        max-height: 80vh; /* Set maximum height */
        overflow-y: auto; /* Enable vertical scrolling */
    }
</style>
<script>
    function togglePopup() {
        const popup = document.getElementById('popup');
        popup.style.display = popup.style.display === 'flex' ? 'none' : 'flex';
    }

    function showPlayersHome(teamType) {
        var teamId = document.getElementById(teamType).value;
        var playersDiv = document.getElementById('homePlayers');
        var playersList = document.getElementById('home-players-list');

        if (!teamId) {
            playersDiv.style.display = 'none';
            return;
        }

        playersDiv.style.display = 'block';

        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/handball/playersTeam/' + teamId, true);
        xhr.onload = function() {
            if (xhr.status === 200) {
                var players = JSON.parse(xhr.responseText);
                playersList.innerHTML = '';

                players.forEach(function(player) {
                    var playerListItem = document.createElement('li');
                    playerListItem.innerHTML = '<span>' + player.name + '</span><input type="number" value="' + player.goals + '" placeholder="Liczba bramek">';
                    playersList.appendChild(playerListItem);
                });
            } else {
                console.error('Failed to fetch players:', xhr.status, xhr.statusText);
            }
        };
        xhr.onerror = function() {
            console.error('Request error');
        };
        xhr.send();
    }

    function showPlayersAway(teamType) {
        var teamId = document.getElementById(teamType).value;
        var playersDiv = document.getElementById('awayPlayers');
        var playersList = document.getElementById('away-players-list');

        if (!teamId) {
            playersDiv.style.display = 'none';
            return;
        }

        playersDiv.style.display = 'block';

        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/handball/playersTeam/' + teamId, true);
        xhr.onload = function() {
            if (xhr.status === 200) {
                var players = JSON.parse(xhr.responseText);
                playersList.innerHTML = '';

                players.forEach(function(player) {
                    var playerListItem = document.createElement('li');
                    playerListItem.innerHTML = '<span>' + player.name + '</span><input type="number" value="' + player.goals + '" placeholder="Liczba bramek">';
                    playersList.appendChild(playerListItem);
                });
            } else {
                console.error('Failed to fetch players:', xhr.status, xhr.statusText);
            }
        };
        xhr.onerror = function() {
            console.error('Request error');
        };
        xhr.send();
    }

    function handleSubmit(event) {
        event.preventDefault();

        const homeTeam = document.getElementById('homeTeam').selectedOptions[0].text;
        const awayTeam = document.getElementById('awayTeam').selectedOptions[0].text;
        const homeGoals = document.getElementById('homeGoals').value;
        const awayGoals = document.getElementById('awayGoals').value;
        const result = document.getElementById('result').value;

        const matchPlayers = [];
        document.querySelectorAll('#home-players-list li').forEach(li => {
            const playerName = li.querySelector('span').innerText;
            const goals = li.querySelector('input').value || 0;
            matchPlayers.push({ playerName, goals });
        });
        document.querySelectorAll('#away-players-list li').forEach(li => {
            const playerName = li.querySelector('span').innerText;
            const goals = li.querySelector('input').value || 0;
            matchPlayers.push({ playerName, goals });
        });

        const matchData = {
            homeTeam: { name: homeTeam },
            awayTeam: { name: awayTeam },
            homeTeamGoals: parseInt(homeGoals),
            awayTeamGoals: parseInt(awayGoals),
            result: parseInt(result),
            homeTeamPenaltyGoals: 0,
            awayTeamPenaltyGoals: 0,
            matchPlayers: matchPlayers
        };

        const jsonString = JSON.stringify(matchData, null, 4);
        document.getElementById('jsonOutput').innerText = jsonString;
        togglePopup();
        toggleJsonPopup();
    }

    function toggleJsonPopup() {
        const jsonPopup = document.getElementById('jsonPopup');
        jsonPopup.style.display = jsonPopup.style.display === 'flex' ? 'none' : 'flex';
    }
</script>

<button onclick="togglePopup()">dodaj spotkanie</button>

<div id="popup" class="popup">
    <div class="popup-content">
        <h2>Formularz</h2>
        <form onsubmit="handleSubmit(event)">
            <label for="homeTeam">Drużyna gospodarzy</label>
            <select id="homeTeam" name="homeTeam" onchange="showPlayersHome('homeTeam')">
                <option value="">Wybierz drużynę</option>
                <option th:each="t : ${teams}" th:value="${t.id}" th:text="${t.name}">Team</option>
            </select>
            <br>
            <div id="homePlayers" style="display: none;">
                <h2>Zawodnicy gospodarzy:</h2>
                <ul id="home-players-list">
                    <!-- Home team players will be dynamically inserted here -->
                </ul>
            </div>

            <label for="awayTeam">Drużyna gości</label>
            <select id="awayTeam" name="awayTeam" onchange="showPlayersAway('awayTeam')">
                <option value="">Wybierz drużynę</option>
                <option th:each="t : ${teams}" th:value="${t.id}" th:text="${t.name}">Team</option>
            </select>
            <br>
            <div id="awayPlayers" style="display: none;">
                <h2>Zawodnicy gości:</h2>
                <ul id="away-players-list">
                    <!-- Away team players will be dynamically inserted here -->
                </ul>
            </div>

            <label for="homeGoals">Liczba bramek gospodarze</label>
            <input id="homeGoals" name="homeGoals" type="number"><br>

            <label for="awayGoals">Liczba bramek gości</label>
            <input id="awayGoals" name="awayGoals" type="number"><br>

            <label for="result">Wybierz wynik</label>
            <select id="result" name="result">
                <option value="">Wybierz rezultat</option>
                <option value="1">Wygrana gospodarzy</option>
                <option value="2">Wygrana gości</option>
                <option value="3">Wygrana gospodarzy po karnych</option>
                <option value="4">Wygrana gości po karnych</option>
            </select>
            <br>
            <label>Dodaj strzelców bramek</label>
            <br>

            <button type="submit">Wyślij</button>
            <button type="button" onclick="togglePopup()">Zamknij</button>
        </form>
    </div>
</div>

<div id="jsonPopup" class="popup">
    <div class="popup-content">
        <h2>JSON Output</h2>
        <pre id="jsonOutput"></pre>
        <button type="button" onclick="toggleJsonPopup()">Zamknij</button>
    </div>
</div>

</body>
</html>